.logo {
    float:left;
    margin-right:10px;
    width: 100px;
    font-size: 24px;
}

header {
    background-color: #a31414;
    width: 100%;
    height: 100px;
}

#current {
    background-color: white;
    height: 100px;
}

#current a {
    color: black;
}

.book-list-item a {
    text-decoration: none;
}

.top-nav-option {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.top-nav-option:hover {
    background-color: white;
    color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    width: 100%;
}

nav ul, .book-list, footer ul {
    display: inline;
    text-align: center;
    font-size: 1.2em;
}
nav ul li, .book-list-item, footer ul li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
    padding-bottom: 20px;
}

footer {
    background-color: #a31414;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}
footer p {
    font-size: 16px;
    margin-left: 10px;
    color: white;

}

.book-list-item {
    width: 20%;
    display: inline-block;
}

.book-pic {
    width: 50%;
    height: 70%;
}

.book-author {
    font-size: 24px;
    color: black;
    text-align: center;
}

#logo-text {
    float: left;
    font-size: 28px;
    margin-top: 12px;
}

h1 {
    display: block;
    text-align: left;
    margin-left: 20%;
}

.book-list {
    display: block;
}

#store {
    width: 40%;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

#aboutus h1 {
    text-align: center;
    margin-left: 0;
}

#aboutus p {
    margin-top: 20px;
    margin-right: 40px;
}

#contact-text {
    margin: 0px;
}

#contact-text a {
    margin: 0px;
    text-decoration: solid underline;
    color:black;
}

#contact-form header p {
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
}

#contact-form body {
    font-family: sans-serif;
    background-image: url(../images/Saint_Peters.jpg);
    margin: 10px;
    background-size: cover;
}

#contact-form main {
    margin: 15px 200px;
    padding: 20px;
    border: solid black;
    background: white;
    min-height: 500px;
}

#contact-form .required {
    font-weight: bold;
    color: red;
}

#contact-form label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}

#contact-form input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

#contact-form input[type="radio"] {
    width: 10px;
}

#contact-form input[type="checkbox"] {
    width: 15px;
}

#contact-form #Button {
    margin-left: 138px;
}

#contact-form #Button,#contact-form #Reset {
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}

#contact-section {
    margin: 30px 25% 0px 25%;
}

.contact-text p {
    text-align: center;
}

.about-column {
    column-count: 3;
    column-rule-style: solid;
    column-gap: 30px;
    column-rule-width: 1px;
}

body {
    background-image: url(../images/double-bubble-outline.jpg);
    background-repeat: repeat;
}

#book-info img {
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

#book-info p {
    display: inline;
}

.video { 
    margin-top: 2%;
}

table {
    text-align: left;
    width: 20%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
}
tr, th, td {
    border: 1px solid #000000;
    text-align: center;
}

iframe {
    border: 0;
}